.year-view
{
	margin: 0 auto;
	float: left;
}

.year-view h1
{
	display: block;
	font-size: 18px;
	line-height: 2em;
	text-align: center;
	vertical-align: baseline;
}

.year-view .month
{
	float: left;
	height: 20em;
	padding: 10px;
}
.year-view h2
{
	font-size: 1em;
	text-align: center;
	padding-bottom: 0.5em;
}

.year-view th
{
	color: #222222;
	font-weight: bold;
	height: 1.2em;
	padding: 0.25em;
	text-align: center;
	vertical-align: bottom;
}

.year-view td
{
	background-color: white;
	border: 1px solid #666666;
	cursor: pointer;
	overflow: hidden;
	vertical-align: top;
	width: 14%;
}

.year-view td h3
{
	padding: 0.5em;
	line-height: 1em;
	text-align: center;
}

.year-view td.day-of-week-0,
.year-view td.day-of-week-6
{
	background-color: #F1F1F1;
}
.year-view td.has-events
{
	background-color: #AACCEE;
	color: black;
}
.year-view td.has-events.day-of-week-0,
.year-view td.has-events.day-of-week-6
{
	background-color: #99BBDD;
}

.year-view td.prev-month,
.year-view td.next-month
{
	background-color: #F8F8F8!important;
	border-left-color: #EEEEEE;
	border-right-style: none;
	color: #999999;
}
.year-view td.day-of-week-0
{
	border-left-color: black;
}
.year-view td.day-of-week-6
{
	border-right-color: black;
	border-right-style: solid;
}

.year-view td.today h3
{
	color: #990000;
}
.year-view td.selected
{
	background-color: #FFFFDD;
}
