html, body
{
	height: 100%;
}
body
{
	background-color: #EEEEEE;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
}

h1
{
	font-size: 1.5em;
}
h2
{
	font-size: 1.25em;
}
h3
{
	font-size: 1.1em;
}
