.dialog-overlay
{
	background-color: #333333;
	bottom: 0;
	cursor: pointer;
	left: 0;
	margin: -100px;
	position: fixed;
	right: 0;
	top: 0;
}
.ua-ie-5 .dialog-overlay,
.ua-ie-6 .dialog-overlay
{
	position: absolute;
	height: 200%;
	width: 200%;
}

.dialog-modal
{
	cursor: default;
}

.dialog,
.loading
{
	background-color: #C0C0C0;
	border: 2px solid #FFFFFF;
	left: 50%;
	position: fixed;
	top: 50%;
	overflow: auto;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.ua-ie-5 .dialog,
.ua-ie-6 .dialog,
.ua-ie-5 .loading,
.ua-ie-6 .loading
{
	position: absolute;
}

.loading
{
	background-color: #000000;
	border-color: #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: -5em;
	padding: 2em;
	text-align: center;
	top: 33%;
	width: 10em;
}
