.content
{
	background-color: #F8F8F8;
	border: 1px solid silver;
	margin: 0 auto;
	padding: 10px;
	width: 900px;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.artist
{
	margin-top: 10px;
	padding: 10px;
	background-color: #336699;
	border: 1px solid #333333;
	padding: 0.5em;
}
.artist h3,
.artist p
{
	margin: 0;
}
.artist h3
{
	padding: 0 0.5em 0.5em 0.5em;
	width: 50%;
}
.artist h3 a,
table.members th a
{
	color: white;
	border-color: white;
}

ul.members
{
	margin: 0;
	padding: 0;
	border: 1px solid #333333;
	list-style-type: none;
	max-height: 25em;
	overflow: auto;
}
li.member
{
	background-color: white;
	display: block;
	margin: 0;
	padding: 0.5em;
}
li.member-alt
{
	background-color: silver;
}

table.members
{
	border: 1px solid #333333;
	width: 100%;
}

table.members th
{
	font-weight: bold;
}

table.members th,
table.members td
{
	padding: 0.25em;
}

table.members .col-name
{
	width: 7em;
}

table.members .col-name-first
{
	text-align: right;
}

table.members .col-date
{
	width: 1%;
	text-align: center;
}

table.members .col-link
{
	text-align: center;
	width: 2em;
}

table.members .col-text
{
}

tr.member
{
	background-color: white;
	cursor: pointer;
}
tr.member-alt
{
	background-color: silver;
}
tr.member:hover
{
	background-color: #003366!important;
}
tr.member:hover td
{
	color: white!important;
}
