/*
	Example.css

	Example stylesheet for Starter Kit
*/

html, body
{
	height: 100%;
}
body
{
	background-color: white;
	color: black;
	font-family: Tahoma, Verdana, Helvetica Neue, Helvetica, Arial, Sans-Serif;
	font-size: 72%;
	overflow: auto;
	overflow-y: scroll;
}
body.ua-ie
{
	overflow: auto;
}

.Content
{
	padding: 1em;
}

.BulletedList
{
	margin: 0.5em 0;
	padding-left: 2em;
	list-style-type: disc;
}

.Paragraph
{
	margin: 0.5em 0;
}

.Warning
{
	background-color: yellow;
	color: #990000;
	font-size: 1.2em;
	margin-bottom: 1em;
	padding: 1em 0.5em;
	text-align: center;
}
