/*
	Example.css

	Example stylesheet for Starter Kit
*/

html, body
{
	height: 100%;
}
body
{
	background-color: white;
	border: 10px solid black;
	border-bottom-style: none;
	border-right-style: none;
	color: black;
	font-family: Tahoma, Verdana, Helvetica Neue, Helvetica, Arial, Sans-Serif;
	font-size: 72%;
	overflow: auto;
	overflow-y: scroll;
}

.Content
{
	background-image: none;
	background-position: right top;
	background-repeat: no-repeat;
	background-attachment: scroll;
	padding: 0 138px 1em 1em;
	margin: 1em 1em 0 0;
	min-height: 128px;
}

body.ua-ie
{
	border-color: #0979CF;
	border-top-color: #F6B718;
}
.ua-ie .Content
{
	background-image: url(Browsers/IE7_128.png);
}
body.ua-ie-5-5,
body.ua-ie-6
{
	background-color: #C1CACF;
}
body.ua-ie-6
{
	border-color: #37A9F4;
	border-top-color: #ADEFFD;
}
.ua-ie-6 .Content
{
	background-image: url(Browsers/IE6_128.png);
	height: 128px;
}
body.ua-ie-5-5
{
	border-color: #2E5AFF;
	border-top-color: #FFD573;
}
.ua-ie-5-5 .Content
{
	background-image: url(Browsers/IE5_128.png);
	height: 128px;
}

body.ua-opera
{
	border-color: #3B4959;
	border-top-color: #961D1F;
}
.ua-opera .Content
{
	background-image: url(Browsers/Opera_128.png);
}

body.ua-webkit
{
	border-color: #336699;
}
.ua-webkit .Content
{
	background-image: url(Browsers/WebKit_128.png);
}
body.ua-safari
{
	border-color: #1757A2;
	border-top-color: #8F8F8F;
}
.ua-safari .Content
{
	background-image: url(Browsers/Safari_128.png);
}
body.ua-chrome
{
	border-color: #2BAB33;
	border-top-color: #FFD600;
}
.ua-chrome .Content
{
	background-image: url(Browsers/Chrome_128.png);
}

body.ua-gecko
{
	border-color: #075090;
	border-top-color: #2394C7;
}
.ua-gecko .Content
{
	background-image: url(Browsers/Gecko_128.png);
}
body.ua-firefox
{
	border-color: #DF7417;
	border-top-color: #F8E200;
}
.ua-firefox .Content
{
	background-image: url(Browsers/Firefox_128.png);
}
body.ua-seamonkey
{
	border-color: #2424E4;
	border-top-color: #8484FE;
}
.ua-seamonkey .Content
{
	background-image: url(Browsers/SeaMonkey_128.png);
}
body.ua-camino
{
	border-color: #5C8FD6;
	border-top-color: #E5E5E5;
}
.ua-camino .Content
{
	background-image: url(Browsers/Camino_128.png);
}
body.ua-flock
{
	border-color: #9A9FA4;
	border-top-color: #358DEC;
}
.ua-flock .Content
{
	background-image: url(Browsers/Flock_128.png);
}
body.ua-netscape
{
	border-color: #12424E;
	border-top-color: #36ABB1;
}
.ua-netscape .Content
{
	background-image: url(Browsers/Netscape_128.png);
}
body.ua-icab
{
	border-color: #FA2C2C;
	border-top-color: #FFD00A;
}
.ua-icab-3 .Content
{
	background-image: url(Browsers/iCab3_128.png);
}
.ua-icab-4 .Content
{
	background-image: url(Browsers/iCab4_128.png);
}
body.ua-mozilla
{
	border-color: #075090;
	border-top-color: #2394C7;
}
.ua-mozilla .Content
{
	background-image: url(Browsers/Mozilla_128.png);
}

.BrowserType
{
	position: absolute;
	right: 1em;
	width: 100px;
	min-height: 2em;
	padding: 1em;
	margin-top: 150px;
	background-color: #F1F1F1;
	border: 1px solid #E5E5E5;
}
.BrowserList
{
	margin-top: 0.5em;
	border: 1px solid #E5E5E5;
}
.BrowserItem
{
	background-color: #DDDDDD;
	padding: 0.25em;
	text-align: center;
}
.BrowserItemAlt
{
	background-color: white;
}

.BulletedList
{
	margin: 0.5em 0;
	padding-left: 2em;
	list-style-type: disc;
}

.Paragraph
{
	margin: 0.5em 0;
}