/*
	Validation.css

	Example stylesheet for Starter Kit
*/

.BadgeList li
{
	display: block;
}
.BadgeList img
{
	border-style: none;
	height: 31px;
	width: 88px;
	visibility: hidden;
}

/* badge inactive state */
.BadgeList a.BadgeLink
{
	margin: 1em auto auto auto;
	display: block;
	background-image: url(BadgeSprite.png);
	background-repeat: no-repeat;
	height: 31px!important;
	width: 88px!important;
}
.BadgeList a.XhtmlBadge
{
	background-position: top left;
}
.BadgeList a.CssBadge
{
	background-position: top right;
}

/* badge hover state */
.BadgeList a.XhtmlBadge:hover
{
	background-position: bottom left;
}
.BadgeList a.CssBadge:hover
{
	background-position: bottom right;
}
