/*
	Zebra.css

	Example stylesheet for Starter Kit
*/

.ZebraList
{
	border: 1px solid #DDDDDD;
	margin: 0.5em 0;
}
.ua-ie-5 .ZebraList,
.ua-ie-6 .ZebraList
{
	border-color: #999999;
}
.ZebraItem
{
	background-color: #FFFFFF;
	padding: 0.25em;
}
.ZebraItemAlt
{
	background-color: #F9F9F9;
}
.ua-ie-5 .ZebraItem,
.ua-ie-6 .ZebraItem
{
	/* trigger hasLayout */
	zoom: 1;
}
