<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="ETag" value="&quot;&quot;" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
