<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="ETag" value="&quot;&quot;" />
			</customHeaders>
		</httpProtocol>
		<handlers>
			<clear />
			<add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
		</handlers>
	</system.webServer>
</configuration>
