.dialog-overlay
{
	background-color: black;
	bottom: 0;
	cursor: pointer;
	left: 0;
	margin: -100px;
	position: fixed;
	right: 0;
	top: 0;
}
.ua-ie-5 .dialog-overlay,
.ua-ie-6 .dialog-overlay
{
	position: absolute;
	height: 200%;
	width: 200%;
}

.dialog-modal
{
	cursor: default;
}

.dialog
{
	background-color: #CCCCCC;
	border: 4px solid #FFFFFF;
	left: 50%;
	position: fixed;
	top: 50%;
	overflow: visible;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.ua-ie-5 .dialog,
.ua-ie-6 .dialog
{
	position: absolute;
}

.loading
{
	background-color: #CCCCBB;
	border: 2px solid #000000;
	color: #000000;
	font-weight: bold;
	left: 50%;
	margin-left: -5em;
	overflow: auto;
	padding: 1em 2em;
	position: fixed;
	text-align: center;
	top: 33%;
	width: 10em;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.ua-ie-5 .loading,
.ua-ie-6 .loading
{
	position: absolute;
}
.loading img
{
	display: block;
	margin: .5em auto;
}

.alert,
.confirm
{
	background-color: #111111;
	color: white;
	height: 100%;
	overflow: hidden;
}
.confirm p
{
	font-size: 2em;
	padding: 0.5em 0.25em 0 0.25em;
	text-align: center;
}
.alert h3
{
	font-size: 2em;
	padding: 0.5em;
}
.alert p
{
	font-size: 1.5em;
	padding: 0.5em 0.25em 0 0.25em;
	text-align: center;
}
.alert fieldset,
.confirm fieldset
{
	float: right;
	font-size: 1.5em;
	padding: 1em 0.5em;
}
