.content
{
	background-color: #F8F8F8;
	border: 1px solid silver;
	margin: 0 auto;
	padding: 10px;
	width: 900px;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.artist
{
	margin-top: 10px;
	padding: 10px;
	background-color: #336699;
	border: 1px solid #333333;
	padding: 0.5em;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.artist h3,
.artist p
{
	margin: 0;
}
.artist h3
{
	padding: 0 0.5em 0.5em 0.5em;
	width: 50%;
}
.artist h3 a,
.artist p.info,
.artist p.info a.sort,
table.members th a.sort
{
	font-weight: bold;
	color: white;
	border-color: white;
}
.artist p.info
{
	padding: 0.5em 0.5em 0 0.5em;
}
.artist p.info a:hover
{
	color: #FF0000;
}

.actions
{
	padding: 0.25em;
	text-align: center;
	vertical-align: middle;
	width: 4.5em;
}
.artist .button
{
	display: block;
	margin: 0.25em 0;
}
fieldset.actions
{
	float: right;
}

ul.members
{
	border: 1px solid #333333;
	clear: both;
	list-style-type: none;
	margin: 0;
	max-height: 25em;
	overflow: auto;
	padding: 0;
}
li.member
{
	background-color: white;
	display: block;
	margin: 0;
	padding: 0.5em;
}
li.member-alt
{
	background-color: silver;
}

table.members
{
	border: 1px solid #333333;
	clear: both;
	width: 100%;
}

table.members th,
table.members td
{
	padding: 0.25em;
}

table.members th
{
	vertical-align: middle;
}

table.members td
{
	vertical-align: middle;
}
table.members td.member-edit
{
	vertical-align: top;
}

table.members .col-name
{
	width: 8em;
}
table.members .col-name input
{
	width: 7.5em;
}

table.members .col-name-first,
table.members .col-name-first input
{
	text-align: right;
}

table.members .col-date
{
	width: 4em;
	text-align: center;
}

table.members .col-link
{
	text-align: center;
	width: 13em;
}
table.members .col-link input
{
	width: 12.5em;
}

table.members .col-text textarea
{
	width: 100%;
}

tr.member
{
	background-color: white;
	cursor: pointer;
}
tr.member-alt
{
	background-color: silver;
}
/*tr.member:hover
{
	background-color: #003366!important;
}
tr.member:hover td
{
	color: white!important;
}*/

/* edit forms */
.member-edit input.year
{
	width: 3em;
	text-align: center;
}
.member-edit fieldset label
{
	font-weight: bold;
}
