/*
	Basic.css

	Basic elements stylesheet for Starter Kit
*/

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
	margin: 0.5em 0;
}
h1
{
	font-size: 1.8em;
	text-align: center;
}
h1.PageTitle
{
	position: absolute;
	float: left;
	line-height: 64px;
	margin: 0 0 0 198px;
}
.ua-ie-7 h1.PageTitle,
.ua-ie-5 h1.PageTitle,
.ua-ie-6 h1.PageTitle
{
	margin-left: 10px;
}
h2
{
	clear: left;
	font-size: 1.5em;
}
h3
{
	font-size: 1.2em;
}

a:link,
a:hover,
a:active,
a:visited
{
	outline-style: none;
	color: #00468C;
}

p
{
	margin: 0.5em 0;
}

br
{
	clear: both;
	height: 0;
	overflow: hidden;
}

em
{
	font-style: italic;
}

strong
{
	font-weight: bold;
}

ul.BullettedList
{
	margin: 0.5em 0;
	padding-left: 2em;
	list-style-type: disc;
}

ol.NumberedList
{
	margin: 0.5em 0;
	padding-left: 2em;
	list-style-type: decimal;
}

@media print
{
	a:link,
	a:hover,
	a:focus,
	a:active,
	a:visited
	{
		color: black;
		text-decoration: none;
	}
}