/*
	BrowserType.css

	Example stylesheet for Starter Kit
*/

.BrowserType
{
	float: right;
	margin: 0 0 1em 1em;
	background-color: #F1F1F1;
	background-image: url(Browsers/Unknown_128.png);
	background-position: center 1em;
	background-repeat: no-repeat;
	background-attachment: scroll;
	padding: 150px 1em 0.5em 1em;
	border: 1px solid #DDDDDD;
	text-align: center;
	width: 138px;
}
.ua-ie-5-5 .BrowserType,
.ua-ie-6 .BrowserType
{
	/* IE6 24-bit PNGs lack alpha */
	background-color: #C8D0D4;/*#C1CACF;*/
	border-color: #999999;
}
.ua-ie-5 .BrowserType .ZebraList,
.ua-ie-6 .BrowserType .ZebraList
{
	border-color: #999999;
}

body
{
	border: 10px solid #DDDDDD;
	border-bottom-style: none;
	border-right-style: none;
	border-top-color: #EEEEEE;
}

/* Trident-based browsers */
body.ua-ie
{
	border-color: #0979CF;
	border-top-color: #F6B718;
}
.ua-ie .BrowserType
{
	background-image: url(Browsers/IE7_128.png);
}
body.ua-ie-6
{
	border-color: #37A9F4;
	border-top-color: #ADEFFD;
}
.ua-ie-6 .BrowserType
{
	background-image: url(Browsers/IE6_128.png);
	height: 128px;
}
body.ua-ie-5-5
{
	border-color: #2E5AFF;
	border-top-color: #FFD573;
}
.ua-ie-5-5 .BrowserType
{
	background-position: center 40px;
	background-image: url(Browsers/IE5_48.png);
	height: 128px;
}

/* Presto-based browsers */
body.ua-opera
{
	border-color: #3B4959;
	border-top-color: #961D1F;
}
.ua-opera .BrowserType
{
	background-image: url(Browsers/Opera_128.png);
}

/* WebKit-based browsers */
body.ua-webkit
{
	border-color: #2D3494;
	border-top-color: #DDBB7A;
}
.ua-webkit .BrowserType
{
	background-image: url(Browsers/WebKit_128.png);
}
body.ua-safari
{
	border-color: #1758A4;
	border-top-color: #C0C0C0;
}
.ua-safari .BrowserType
{
	background-image: url(Browsers/Safari_128.png);
}
body.ua-chrome
{
	border-color: #2BAB33;
	border-top-color: #FFD600;
}
.ua-chrome .BrowserType
{
	background-image: url(Browsers/Chrome_128.png);
}
body.ua-shiira
{
	border-color: #0198C2;
	border-top-color: #A86FE6;
}
.ua-shiira .BrowserType
{
	background-image: url(Browsers/Shiira_128.png);
}
body.ua-omniweb
{
	border-color: #2B84EA;
	border-top-color: #62AE0C;
}
.ua-omniweb .BrowserType
{
	background-image: url(Browsers/OmniWeb_128.png);
}

/* KHTML-based browsers */
body.ua-khtml,
body.ua-konqueror
{
	border-color: #5CAFFF;
	border-top-color: #E0E0E6;
}
.ua-khtml .BrowserType,
.ua-konqueror .BrowserType
{
	background-image: url(Browsers/Konqueror_128.png);
}

/* Gecko-based browsers */
body.ua-gecko
{
	border-color: #075090;
	border-top-color: #2394C7;
}
.ua-gecko .BrowserType
{
	background-image: url(Browsers/Gecko_128.png);
}
body.ua-firebird
{
	border-color: #FB0F0C;
	border-top-color: #F96611;
}
.ua-firebird .BrowserType
{
	background-position: center 40px;
	background-image: url(Browsers/Firebird_48.png);
}
body.ua-firefox
{
	border-color: #DE730C;
	border-top-color: #F9BE00;
}
.ua-firefox .BrowserType
{
	background-image: url(Browsers/Firefox_128.png);
}
body.ua-seamonkey
{
	border-color: #2424E4;
	border-top-color: #8484FE;
}
.ua-seamonkey .BrowserType
{
	background-image: url(Browsers/SeaMonkey_128.png);
}
body.ua-camino
{
	border-color: #5C8FD6;
	border-top-color: #E5E5E5;
}
.ua-camino .BrowserType
{
	background-image: url(Browsers/Camino_128.png);
}
body.ua-flock
{
	border-color: #9A9FA4;
	border-top-color: #358DEC;
}
.ua-flock .BrowserType
{
	background-image: url(Browsers/Flock_128.png);
}
body.ua-epiphany
{
	border-color: #526F8B;
	border-top-color: #358B35;
}
.ua-epiphany .BrowserType
{
	background-position: center 32px;
	background-image: url(Browsers/Epiphany_64.png);
}
body.ua-galeon
{
	border-color: #2B468D;
	border-top-color: #A6CBF1;
}
.ua-galeon .BrowserType
{
	background-image: url(Browsers/Galeon_128.png);
}
body.ua-k-meleon
{
	border-color: #B24E51;
	border-top-color: #7BBA4A;
}
.ua-k-meleon .BrowserType
{
	background-position: center 23px;	
	background-image: url(Browsers/K-Meleon_82.png);
}
body.ua-netscape
{
	border-color: #12424E;
	border-top-color: #36ABB1;
}
.ua-netscape .BrowserType
{
	background-image: url(Browsers/Netscape_128.png);
}
.ua-netscape-8 .BrowserType
{
	background-image: url(Browsers/Netscape8_128.png);
}
.ua-netscape-9 .BrowserType
{
	background-image: url(Browsers/Netscape9_128.png);
}
body.ua-icab
{
	border-color: #FA2C2C;
	border-top-color: #FFD00A;
}
.ua-icab .BrowserType
{
	background-image: url(Browsers/iCab3_128.png);
}
.ua-icab-4 .BrowserType
{
	background-image: url(Browsers/iCab4_128.png);
}

/* Mozilla catch all */
body.ua-mozilla
{
	border-color: #024690;
	border-top-color: #3688E0;
}
.ua-mozilla .BrowserType
{
	background-image: url(Browsers/Mozilla_128.png);
}
