/*
	Elements.css

	Basic elements stylesheet for Starter Kit
*/

html
{
	background-image: url(BodyBG.png);
	background-repeat: repeat;
	background-position: center center;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: visible;
}
body
{
	color: black;
	font-family: Tahoma, Verdana, Helvetica Neue, Helvetica, Arial, Sans-Serif;
	font-size: 72%;
	background-image: url(BodyFadeTop.png);
	background-repeat: repeat-x;
	background-position: left top;
	background-attachment: fixed;
	height: 100%;
}
body.ua-ie-5,
body.ua-ie-6
{
	background-image: url(BodyBG.png);
	background-repeat: repeat;
	background-position: center center;
	background-attachment: fixed;
	padding: 0 15%;
}
.BodyFade
{
	background-image: url(BodyFadeBottom.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-attachment: fixed;
	padding: 0 15%;
	height: 100%;
}
.ua-ie-5 .BodyFade,
.ua-ie-6 .BodyFade
{
	background-image: none;
	padding: 0;
}
.Content
{
	border: 0.25em solid #004080;
	border-top-style: none;
	border-bottom-style: none;
	background-image: url(ContentBG.png);
	background-repeat: repeat;
	background-position: center center;
	background-attachment: fixed;
	background-color: transparent;
	overflow: auto;
	margin: 0;
	padding: 0 1em;
	width: auto;
	height: 100%;
	min-width: 320px;
}
.Banner
{
	padding-top: 1em;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
	margin: 0.5em 0;
}
h1
{
	font-size: 1.8em;
	text-align: center;
}
h2
{
	clear: left;
	font-size: 1.5em;
}
h3
{
	font-size: 1.2em;
}

a
{
	outline-style: none;
}

p
{
	margin: 0.5em 0;
}

ul.BullettedList
{
	margin: 0.5em 0;
	padding-left: 2em;
	list-style-type: disc;
}

.Warning
{
	background-color: #FFFFEE;
	border: 1px solid #FFFF00;
	color: #990000;
	font-size: 1.2em;
	margin-bottom: 1em;
	padding: 1em 0.5em;
}

.PageFooter
{
	clear: both;
	margin: 1em -1em;
	padding: 1em;
	border-top: 1px solid silver;
	width: 100%;
}
