/*
	Example.css

	Example stylesheet for Starter Kit
*/

html
{
	background-color: #F8F8F8;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: visible;
}
body
{
	border: 1px solid silver;
	background-color: white;
	color: black;
	font-family: Tahoma, Verdana, Helvetica Neue, Helvetica, Arial, Sans-Serif;
	font-size: 72%;
	overflow: auto;
	padding: 1em;
	height: 90%;
	width: 70%;
	margin: 1.5% 0 0 15%;
	min-height: 240px;
	min-width: 320px;
}
body.ua-ie-6,
body.ua-ie-5
{
	height: 100%;
	border-style: none;
	width: auto;
	margin: 0;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
	margin: 0.5em 0;
}
h1
{
	font-size: 1.8em;
	text-align: center;
}
h2
{
	clear: left;
	font-size: 1.5em;
}
h3
{
	font-size: 1.2em;
}

a
{
	outline-style: none;
}

p
{
	margin: 0.5em 0;
}

.PageFooter
{
	clear: both;
	margin: 1em -1em;
	padding: 1em;
	border-top: 1px solid silver;
	width: 100%;
}

code
{
	font-family: Consolas, Courier New, Courier, Monospace;
	font-size: 1.1em;
}
.ua-ie code
{
	font-size: 1.0em;
}
.ua-webkit code
{
	font-size: 1.2em;
}
code.CodeBlock
{
	display: block;
	background: #EEEEEE;
	border: 1px solid silver;
	padding: 1em;
}

.Warning
{
	background-color: yellow;
	color: #990000;
	font-size: 1.2em;
	margin-bottom: 1em;
	padding: 1em 0.5em;
	text-align: center;
}

.BulletedList
{
	margin: 0.5em 0;
	padding-left: 2em;
	list-style-type: disc;
}

.SideBar
{
	clear: right;
	float: right;
	margin: 0 0 1em 1em;
	background-color: #F1F1F1;
	background-position: center 1em;
	background-repeat: no-repeat;
	background-attachment: scroll;
	padding: 0.5em 1em;
	border: 1px solid #DDDDDD;
	text-align: center;
}
.ua-ie .SideBar
{
	position: relative;
}
.ua-ie-5-5 .SideBar,
.ua-ie-6 .SideBar
{
	/* IE6 24-bit PNGs lack alpha */
	background-color: #C8D0D4;/*#C1CACF;*/
	border-color: #999999;
}
.JsonFxInfo
{
	background-image: url(FavIcon_128.png);
	padding-top: 150px;
	width: 138px;
}

.ButtonList
{
	float: left;
}
.ButtonItem
{
	float: left;
	margin: 0 0.25em;
}
.LinkButton
{
	border: 1px solid silver;
	background-color: #EEEEEE;
	color: #333333;
	padding: 0.25em 0.5em;
	text-decoration: none;
}
.LinkButton:hover
{
	background-color: #DDDDDD;
}
.LinkButton:active
{
	background-color: #C0C0C0;
}
.ua-ie-5 .LinkButton,
.ua-ie-6 .LinkButton,
.ua-ie-7 .LinkButton
{
	display: inline-block;
}
.LinkButton-Disabled,
.LinkButton-Disabled:hover,
.LinkButton-Disabled:active
{
	cursor: default;
	border: 1px solid silver;
	background-color: #EEEEEE;
	color: #999999;
}