/*
	Preview screens for TreeView browsing
*/

.BrowseArea
{
	float: left;
	border: 1px solid #999999;
	background-color: #F8F8F8;
	padding: 0 0.5em;
	width: 512px;
	overflow: auto;
	height: 35em;
}

.PreviewArea
{
	border: 1px solid #999999;
	cursor: pointer;
	display: block;
	position: fixed;
	top: 15%;
	left: 15%;
	height: 70%;
	width: 70%;
	z-index: 1000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 8px #CCCCCC;
	-moz-box-shadow: 0 0 8px #CCCCCC;
	-webkit-box-shadow: 0 0 8px #CCCCCC;
}
.ua-ie-5 .PreviewArea,
.ua-ie-6 .PreviewArea
{
	position: absolute;
}
pre.PreviewArea
{
	color: #00468C;
	background-color: #F8F8F8;
	font-family: Consolas, Courier New, Courier, Monospace;
	font-size: 12px;
	overflow: auto;
	padding: 0.5em;
	white-space: pre;
}

.ImagePreview
{
	background-image: url(/Images/TreeView/Transparent.png);
	top: 20%;
	left: 20%;
	height: 60%;
	width: 60%;
}

.ImagePreview .ImageDisplay
{
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

@media print
{
	.BrowseArea
	{
		border-style: none;
		background-color: transparent;
		height: auto;
		width: auto;
		overflow: visible;
	}
	.PreviewArea,
	.ImagePreview
	{
		display: none;
	}
}
