/* Elements CSS */
html
{
	-webkit-text-size-adjust: none;
	overflow: auto;
	overflow-y: scroll;
}
body
{
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	font-size: 80%;
	color: black;
	background-color: white;
	padding: 0.5em;
}

h1, h2, h3, h4, h5, h6
{
	display: block;
	font-weight: bold;
	margin: 0.5em 0;
	padding: 0.5em 0;
}
h1
{
	font-size: 1.5em;
	padding-bottom: 0;
	margin-bottom: 0;
}
h2
{
	border-top: 1px solid silver;
	font-size: 1.2em;
}
h3
{
	font-size: 1.2em;
}
h4, h5, h6
{
	font-size: 1.0em;
}

p
{
	margin: 1em 0;
	line-height: 1.4em;
}
strong
{
	font-weight: bold;
}
em
{
	font-style: italic;
}

ul
{
	list-style-type: square;
}
ol
{
	list-style-type: decimal;
}
ul, ol
{
	list-style-position: outside;
	margin-left: 2.5em;
	padding: 0;
}
li
{
	margin: 0.125em 0;
}

a:link,
a:hover,
a:active,
a:visited
{
	color: #003366;
}

a:link
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}

a.ExtLink
{
	background-image: url(ExtLink.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 14px;
	zoom: 1;
}
abbr
{
	cursor: help;
	border-bottom: 1px dotted gray;
}
a abbr
{
	cursor: auto;
	border-bottom-style: none;
}
