/* TreeNode CSS */

.BrowseArea
{
	float: left;
	border: 1px solid #999999;
	background-color: #EEEEEE;
	padding: 10px;
	width: 512px;
	overflow: auto;
	height: 512px;
	margin-left: 20px;
}

.TreeNode,
ul.TreeRoot
{
	display: block;
	float: left;
	clear: left;
	list-style-type: none;
}
.js-ClosedNode ul.TreeRoot
{
	display: none;
}
ul.TreeRoot
{
	margin-left: 2.5em;
	padding: 0;
}
.ua-ie-5 ul.TreeRoot,
.ua-ie-6 ul.TreeRoot
{
	margin-left: 1em;
}
.TreeNode
{
	margin: 0.125em 0;
}

.TreeNode .NodeLabel:link
{
	display: block;
	float: left;
	clear: both;
/*	color: black; */
	line-height: 18px;
	white-space: nowrap;
	text-decoration: none;
}
.TreeNode .FileName
{
/*	color: #003366; */
}
.TreeNode .Download
{
/*	font-style: italic; */
}
.TreeNode .Download,
.TreeNode .IsSpecial
{
/*	color: #666666; */
	font-weight: normal;
}
.TreeNode .NodeLabel:hover
{
	color: #660000;
	text-decoration: none;
}
.ua-ie .TreeNode .NodeLabel:active
{
	background-color: #E5F2FF;
}
.TreeNode .NodeLabel:focus
{
	border-style: none;
	outline: none;
	background-color: #E5F2FF;
}
.TreeNode .NodeIcon
{
	/* using a relative path for caching */
	background-image: url(TreeNode/FileFolderSprite.png);
	background-color: transparent;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 16px !important;
	width: 16px !important;
	margin: 1px 0.5em 1px 1px;
	overflow: hidden;
}
.TreeNode .FolderName .NodeIcon
{
	background-position: left -16px;
}
.TreeNode .FolderName:hover .NodeIcon
{
	background-position: center -16px;
}
.TreeNode .FolderName:active .NodeIcon
{
	background-position: right -16px;
}
.js-ClosedNode .FolderName .NodeIcon
{
	background-position: left 0;
}
.js-ClosedNode .FolderName:hover .NodeIcon
{
	background-position: center 0;
}
.js-ClosedNode .FolderName:active .NodeIcon
{
	background-position: right 0;
}
.TreeNode .FileName .NodeIcon
{
	background-position: left -32px;
}
.TreeNode .FileName:hover .NodeIcon
{
	background-position: center -32px;
}
.TreeNode .FileName:active .NodeIcon
{
	background-position: right -32px;
}
