.day-view
{
	height: 100%;
	width: 100%;
}

.day-view h1
{
	display: block;
	font-size: 18px;
	line-height: 2em;
	text-align: center;
	vertical-align: baseline;
}
.day-view .day-scroll
{
	border-top: 1px solid black;
	height: 100%;
	overflow: scroll;
	overflow-x: auto;
	width: 100%;
}
.day-view table
{
	width: 100%;
}
.day-view .hour
{
	padding: 0 0.5em;
	text-align: right;
	vertical-align: middle;
	width: 3em;
}

.month-view
{
	height: 100%;
	width: 100%;
}

.month-view h1
{
	display: block;
	font-size: 18px;
	line-height: 2em;
	text-align: center;
	vertical-align: baseline;
}

.month-view table
{
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.month-view th
{
	color: #222222;
	font-weight: bold;
	height: 1.2em;
	padding: 0.25em;
	text-align: center;
	vertical-align: bottom;
}

.month-view td
{
	background-color: white;
	border: 1px solid #666666;
	cursor: pointer;
	vertical-align: top;
}
.month-view td h3
{
	float: right;
	line-height: 1.5em;
	padding: 0 0.5em;
	text-align: right;
}

.month-view td.day-of-week-0,
.month-view td.day-of-week-6
{
	background-color: #F1F1F1;
}
.month-view td.prev-month,
.month-view td.next-month
{
	background-color: #F8F8F8;
	color: #999999;
}
.month-view td.prev-month
{
	border-left-color: #EEEEEE;
	border-right-style: none;
}
.month-view td.next-month
{
	border-left-style: none;
	border-right-color: #EEEEEE;
}
.month-view td.day-of-week-0
{
	border-left-color: black;
}
.month-view td.day-of-week-6
{
	border-right-color: black;
}

.month-view td.today
{
	background-color: #FFFFF1;
}
.month-view td.selected
{
	background-color: #DDDDDD;
}

.month-view td .day,
.month-view td .event
{
	color: black;
	display: block;
	margin: 0;
	padding: 0;
}
.month-view td .day
{
	font-size: 11px;
	line-height: 12px;
	overflow: hidden;
	position: absolute;
}
.month-view td .event
{
	background-color: #AACCEE;
	border: 1px solid #88AACC;
	clear: left;
	float: left;
	line-height: 1.5em;
	list-style-type: none;
	margin: 2px 2px 0 2px;
	padding: 0 0.5em;
	text-decoration: none;
/*	white-space: nowrap;*/

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.month-view td .event:hover
{
	background-color: #F5F5F5;
}
.month-view td .add-event,
.month-view td .add-event:hover
{
	background-color: black;
	border-style: none;
	color: white;
	font-weight: bold;
}

.year-view
{
	margin: 0 auto;
	float: left;
}

.year-view h1
{
	display: block;
	font-size: 18px;
	line-height: 2em;
	text-align: center;
	vertical-align: baseline;
}

.year-view .month
{
	float: left;
	height: 20em;
	padding: 10px;
}
.year-view h2
{
	font-size: 1em;
	text-align: center;
	padding-bottom: 0.5em;
}

.year-view th
{
	color: #222222;
	font-weight: bold;
	height: 1.2em;
	padding: 0.25em;
	text-align: center;
	vertical-align: bottom;
}

.year-view td
{
	background-color: white;
	border: 1px solid #666666;
	overflow: hidden;
	vertical-align: top;
	width: 14%;
}
.year-view td.has-events
{
	color: #336699;
	text-decoration: underline;
	cursor: pointer;
}

.year-view td h3
{
	padding: 0.5em;
	line-height: 1em;
	text-align: right;
}

.year-view td.day-of-week-0,
.year-view td.day-of-week-6
{
	background-color: #F1F1F1;
}

.year-view td.prev-month,
.year-view td.next-month
{
	background-color: #F8F8F8;
	color: #999999;
}
.year-view td.prev-month
{
	border-left-color: #EEEEEE;
	border-right-style: none;
}
.year-view td.next-month
{
	border-left-style: none;
	border-right-color: #EEEEEE;
}
.year-view td.day-of-week-0
{
	border-left-color: black;
}
.year-view td.day-of-week-6
{
	border-right-color: black;
}

.year-view td.today
{
	background-color: #FFFFF1;
}
.year-view td.selected
{
	background-color: #EEF5FF;
}
